*{
    margin: 0px;
    padding: 0px;
}
#log{
   
    width: 100px;
    float: left;
    padding: 20px;
}

nav{
	max-width: 100%;
	margin-top: 5px;
	background-color:  #c4e8ee;  
	font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding-top: 20px;
    min-height: 40px;
    text-align: center;
 
}


nav a {
    text-decoration: none;
    color: #000000 ;
    margin-left: 15px;  
    text-align: center;
    
  
}
nav :hover{
    background-color: #fdc6e3; 
    color: #ffffff; 
    padding: 10px;
  
}
#IS{
    float: right;
    margin-right: 25px;

}

#main{
    width: 1280px;
}


#footer{
    height: 160px;
    background-color: #E64398;  
    font-size: 13pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
 
}
footer table{
width: 100%;
height: 160px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 14px;
background-color: #A1C3D1;
color: #000000;
float: left;
}




#titulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: #ffffff;
    width: 50%;
    margin: auto;
    padding: 42px 10px 5%;
    margin-left: 35%;
}



#texto{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #ffffff;
    line-height: 100%;
    width: 70%;
    margin: auto;
    border: 2px solid  #f0ebf4;
    padding: 12px 10px 12px;
    text-align: center;

}

#titulo1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    color:  #E64398;  
    line-height: 100%;
    width: 70%;
    margin: auto;
    border: 5px solid  #ffffff;
    padding: 12px 10px 12px;
    text-align: center;
  
}

#frase{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:  #0a0a0a;
    line-height: 100%;
    width: 70%;
    margin: auto;
    border: 3px solid  #E64398;  
    padding: 12px 10px 12px;
    text-align: center;
    
}


body{
    background-color: #ffffff;
}


#main{
    min-width: 100%;
    margin-top: 25px;
    font-weight: 700;
    padding-top: 20px;
    min-height: 40px;
}

#main h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-align: center;
	background-color: #E64398; 
    color: white;
    width: 100%;

}

#servicios{
    width: 80%;
    margin-left: 180px;
    color:  #E64398;  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 15pt;
    text-align: center;
}

#servicios th{
    font-size: 30px;
}

#servicios td{
    padding-bottom: 70px;
    padding-left: 25px;
    font-size: 25px;
}
#servicios p{
    margin-bottom: 1%;
    color: #7797a5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 11pt;
}
#servicios img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
